/* Empty css file that users can override in their own /assets/css/custom.css file */
.h {
  color: #6e9971;
  padding-left: 20px
}

.h::before {
  content: "."
}

.robin {
  color: #3b5ddb;
}

.robin::before {
  content: "."
}

.sath {
  color: #AD6666;
  padding-left: 40px
}

.sath::before {
  content: "."
}
