/* Empty css file that users can override in their own /assets/css/custom.css file */
p.h {
  color: #6e9971;
  padding-left: 20px
}

p.h::before {
  content: "."
}

p.robin {
  color: #3b5ddb;
}

p.robin::before {
  content: "."
}

p.sath {
  color: #7a0b07;
  padding-left: 40px
}

p.sath::before {
  content: "."
}
